@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import 'leaflet/dist/leaflet.css';
@import 'leaflet-routing-machine/dist/leaflet-routing-machine.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.app-background {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #E8E839,
    #39ACBE
  );
}

html, body { height: 100%; margin: 0; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

