.login-form {
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  min-width: clamp(175px, 17vw, 800px);
}

.title {
  text-align: center;
  margin-bottom: 8px;
  font-family: ''Arial'';
    font-size: 32px;
}

.full { width: 100%; }

.actions {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.primary-btn {
  width: 200px;
  height: 50px;
  font-size: 16px;
}

button[mat-raised-button] {
  border-radius: 20px !important;  
  background-color: #41A79D !important;  
  color: white !important;
}

.aux {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-top: 8px;
}

.remember { display:flex; align-items:center; gap:8px; cursor:pointer; }
.forgot:hover { text-decoration: underline; }