.navbar {
  height: 82px;
  background-color: #81C587;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logout {
  background: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.profile-pic {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}

.button-container button {
  background-color: #E0EA56;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #C4D33B;
}

.button-container1 button {
    background-color: #007bff; /* Primary color */
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* Space between buttons */
}

.button-container1 button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}