.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #E8E839, #39ACBE);
}

.card {
  
  background: white;
  border-radius: 30px;
  padding: 32px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.6);
  
}

.title {
  text-align: center;
  margin-bottom: 24px;
  font-family: Arial;
  font-size: 32px;
}

.form-container {
  display: flex;
  gap: 24px;
  min-width: clamp(320px, 35vw, 1300px);
}

.left, .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input, select {
  height: 40px;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.right button {
  align-self: center;
  width: 80%;
  height: 40px;
}

.text-link {
  margin-top: 8px;
  cursor: pointer;
  color: #1976d2;  
  text-decoration: none;
  font-size: 14px;
}

.text-link:hover {
  text-decoration: underline;
}

.bottom-section {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-section button {
  width: 200px;  
  height: 50px;  
  font-size: 16px;  
}

button[mat-raised-button] {
  border-radius: 20px !important;  
  background-color: #41A79D !important;  
  color: white !important;
}