<h2 class="title">Create an account</h2>
<form [formGroup]="form">
<div class="form-container">

  <!-- Left column: 4 fields -->
  <div class="left">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
      @if (form.get('firstName')?.invalid && form.get('firstName')?.touched) {
    <mat-error>{{ getErrorMessage('firstName', 'First Name') }}</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      @if (form.get('email')?.invalid && form.get('email')?.touched) {
    <mat-error>{{ getErrorMessage('email', 'Email') }}</mat-error>
  }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
      @if (form.get('password')?.invalid && form.get('password')?.touched) {
    <mat-error>{{ getErrorMessage('password', 'Password') }}</mat-error>
  }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
    <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()" type="button">
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
      @if (form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched) {
    <mat-error>{{ getErrorMessage('confirmPassword', 'Password Confirmation') }}</mat-error>
  }
    </mat-form-field>

    
  </div>

  <!-- Right column: 3 fields + button -->
  <div class="right">

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
      @if (form.get('lastName')?.invalid && form.get('lastName')?.touched) {
    <mat-error>{{ getErrorMessage('lastName', 'Last Name') }}</mat-error>
  }
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput formControlName="adress">
      @if (form.get('adress')?.invalid && form.get('adress')?.touched) {
    <mat-error>{{ getErrorMessage('adress', 'Address') }}</mat-error>
  }
    </mat-form-field>
  

    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone">
      @if (form.get('phone')?.invalid && form.get('phone')?.touched) {
    <mat-error>{{ getErrorMessage('phone', 'Phone Number') }}</mat-error>
  }
    </mat-form-field>

    <input #fileInput type="file" accept="image/*" (change)="onPhotoSelected($event)" hidden>
<button mat-raised-button color="primary" (click)="fileInput.click()" type="button"
    (mouseenter)="isHoveringUploadBtn = true"
    (mouseleave)="isHoveringUploadBtn = false">
  {{ photoButtonLabel }}
</button>
    
  </div>

    

    
  

</div>

<div class="bottom-section">
  <button mat-raised-button color="primary" (click)="submit()">Register</button>
  <a class="text-link" routerLink="/login">Have an account? Log in</a>
</div>
</form>