
.hor-driver{
    font-family: Arial, sans-serif;
    background-color: #607BAD;
    height: 100vh;
}

.hor-title{
    text-align: center;
    color: rgb(196, 246, 81);
    padding: 20px;
}

.history-list{
    width: 85%;
    margin: 0 auto;
    border-collapse: collapse;
}

li {
    list-style-type: none;
    margin: 10px 0;
    padding: 10px;
    background-color: #AFC2EB;
    border-radius: 8px;
}

span {
    font-weight: bold;
    padding: 0px 6px;
}

.ride-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
}